body {
    border: 5px solid #fed9b7ff;
    background-color: #fdfcdcff;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    align-items:center;
    font-size: 1.3em;
    width: 700px;
    height: 900px;
    margin: 10px auto;
    padding: 10px;
}

/*section {
    border: solid 3px blue;
    text-align: center;
    display: block;
    align-items: center;
    margin: auto;
    text-align: center;
    align-items: center;
    font-size: 1.3em;
    width: auto;
    height: auto;
       margin: auto;
}*/