body {
    border: 5px solid #fed9b7ff;
    background-color: #fdfcdcff;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    align-items:center;
    font-size: 1.3em;
    width: 700px;
    height: 800px;
    margin: 10px auto;
    padding: 20px;
}

