.claseBJ {
    /*border: solid 3px rgb(19, 192, 85);*/
    justify-items: center;
    text-align: center;
    padding: 0px;
    margin: 5px;
    height: 40px;
    width: 310px;
    background-color: #f07167ff;
    border-radius: 14px;
    font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
}