/*.claseBR {
   background-color: #f07167ff;
   width: 100px;
   height: 25px;
   border-radius: 15px;
   position: relative;
   left: 215px;
   font-family: 'Josefin Sans', sans-serif;
   margin: 40px 0px 0px 0px;
}*/



.claseBR {
   background-color: #f07167ff;
   width: 100px;
   height: 25px;
   border-radius: 15px;
   position: relative;
   left: 215px;
   font-family: 'Josefin Sans', sans-serif;
   margin: 40px 0px 0px 0px;
}