.CompPiePaginaext{
border: solid 5px blue;
width: 650px;
margin: 10px auto;
color: black;
padding: 5px;

}




/*.claseFO {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 10px;
    width: 400px;
    border: solid 6px green;
}

h5 {
    margin: 10px;
    padding: 10px;
    color: black;
    
}*/