.claseCompUsuarioEx {
    /*border: solid 3px brown;*/
    text-align: center;
    padding: px;
    width: 600px;
    height: 50px;
    margin: 10px auto;
   

    }

.claseCompUsuarioInt {
    /*border: solid 3px rgb(14, 171, 192);*/
    width: 250px;
    display:inline-block;
    margin: 10px;
    
 
}



