.compEncabezadoExt{
margin:20px auto;
/*border:solid 2px violet;*/
width: 650px;
height: 25px;
text-align: center;
}

.compEncabezadoParrafo{
    font-size: 1.3em;
    color: #302d2d;
    margin: 15px;
    padding: 0px;
    text-shadow: 1px 1px 1px grey;

}



