 /*div {
     width: 145px;
     height: 130px;
     margin: auto;
     padding: 20px;
 }

 

 p {
 
 }
 */

 .claseDisplayImgElegParrafo {
     font-size: 1.3em;
     color: #fdfcdcff;
     margin: 0px;
 }

 .claseDisplayImgElegIMG {
     border: double #fdfcdcff 3px;
     border-radius: 10px;
     padding: 0px 0px 0px 0px;
     height: 220px;
     margin: 5px;
 }






 /*ver si funciona*/