
h4 {
    margin: 0px;
    padding: 0px;
    color: #fed9b7ff;
    justify-items: center;
    text-align: center;
    /*border: solid 1px black;*/
}

h3 {
    margin: 0px;
    padding: 0px;
    color: #fed9b7ff;
    justify-items: center;
    text-align: center;
    /*border: solid 1px white;*/

}

h5 {
    margin: 0px;
    padding: 0px;
    color: #fed9b7ff;
    justify-items: center;
    text-align: center;
    /*border: solid 1px pink;*/

}

